@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
  --light-color: rgba(231, 231, 232, 1);
  --dark-color: rgba(22, 22, 29, 1);
}

/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
  line-height: 1;
  font-size: 18px;
  letter-spacing: 0.2px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--light-color);
  transition: all 0.2s ease-in;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  font-weight: 300;
  margin: 10px 0;
}

img {
  width: 100%;
}

pre, code {
  background: #333;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
}

/* navbar */
.navbar {
  border-bottom: 1px solid rgba(39, 39, 46, 1);
}

.navbar a {
  text-decoration: none;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.navbar ul li {
  margin-right: 25px;
  text-transform: lowercase;
}

.navbar ul li:first-child {
  margin-right: auto;
}

.navbar ul li:first-child a {
  font-size: 20px;
  font-weight: 700;
}

.navbar ul li a {
  display: block;
  padding: 16px 0px calc(14px);
  border-bottom: 2px solid transparent;
}

.navbar ul li a:hover,
.navbar ul li.active a {
  border-bottom: 2px solid var(--light-color);
}

.navbar ul li.active:first-child a {
  border-bottom: 2px solid transparent;
}

.navbar ul li:first-child a:hover {
  border-bottom: 2px solid var(--light-color);
}

/* hero */
.hero .container > div:first-child {
  margin-left: 0;
  margin-right: 0;
  margin-top: 2rem;
}

.hero .container > div:last-child {
  margin-left: -10px;
  margin-right: -10px;
}

.hero .hero-main {
  height: 220px;
  position: relative;
  border: 2px solid #8a2be2;
}

.hero .hero-main p {
  font-weight: 400;
}

.hero .card {
  position: relative;
}

.hero .card.flex {
  justify-content: flex-start;
}

.hero .grid {
  gap: 0;
}

.hero .grid > *:first-child {
  grid-column: 1 / span 2;
}

.hero img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 3rem;
  width: auto;
  height: 220px;
}

.hero .card a::after {
  content: '';
  position: absolute;
  inset: 0;
}

.hero .card a:hover::after {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

/* social media */
.social-media .flex {
  justify-content: flex-start;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.social-media .flex a {
  font-size: 36px;
  margin-right: 2rem;
  transition: transform 0.2s ease-in;
}

.social-media .flex a:hover {
  transform: scale(1.1);
}

.social-media .flex a:last-child {
  font-size: 32px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: 0;
  transition: none;
}

.social-media .flex a:last-child:hover {
  transform: none;
}

/* mobile */
@media(max-width: 500px) {
  .hero .hero-main {
    height: 150px;
  }

  .hero .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero .grid > *:first-child {
    grid-column: auto;
  }

  .hero h1 {
    font-size: 1.4rem;
  }

  .hero img {
    height: 150px;
    margin-right: 2rem;
  }

  .social-media .flex a {
    display: none;
  }

  .social-media .flex a:last-child {
    display: block;
    margin: auto;
  }

  .navbar ul {
    justify-content: space-around;
  }

  .navbar ul li {
    margin-right: 0;
  }

  .navbar ul li a {
    padding: 8px 0px calc(6px);
  }

  .navbar ul li:first-child {
    flex-basis: 100%;
    text-align: center;
  }
}
